---
import type {CV} from "../data/cv.types";
import WorkItem from "./WorkItem.astro";

interface Props {
  cv: CV;
}

const {cv} = Astro.props;
const {work, ui} = cv;
---
<section class="flex min-h-0 flex-col gap-y-3 print:gap-y-1">
    <h2 class="text-xl font-bold" id="work-experience">{ui.sectionWork}</h2>
    {work.map((item) => (
            <WorkItem
                {...item}
                presentLabel={ui.present}
                employmentPeriodLabel={ui.employmentPeriodLabel}
            />
    ))}
</section>